
<div class="outer">
  
  <h1>ngx-duration-input 
    <a href="https://www.npmjs.com/package/ngx-duration-input"><mat-icon>link</mat-icon></a></h1>

  <form #form="ngForm">
    <mat-form-field class="field" color="accent" appearance="outline">
      <mat-label>Duration</mat-label>

      <input
        name="duration"
        matInput
        ngxDuration
        placeholder="{{ 'Duration' }}"
        [(ngModel)]="duration"
        required
      />

      <mat-error *ngIf="form.controls['duration']?.errors; let errors" [ngSwitch]="(errors | keyvalue)[0].key">
        <span *ngSwitchCase="'required'">{{ 'Duration value is required' }}</span>
        <span *ngSwitchCase="'pattern'">{{ 'Invalid duration format' }}</span>
      </mat-error>

      <!-- <mat-error *ngIf="form.controls['duration'].hasError('required')">
        <span>{{ 'Duration value is required' }}</span>
      </mat-error>
      <mat-error *ngIf="form.controls['duration'].hasError('pattern')">
        <span>{{ 'Invalid duration format' }}</span>
      </mat-error> -->
    </mat-form-field> 
    
    <div>
      NgModel value: [{{getValue(duration)}}]
    </div>
    <br><br>
    <div>
      <button mat-raised-button color="primary" (click)="setValue(null)" type="button">Insert NULL</button>
      <button mat-raised-button color="primary" (click)="setValue(undefined)" type="button">Insert UNDEFINED</button>
    </div>

    <mat-form-field class="field pt" color="accent" appearance="outline">
        <mat-label>Duration</mat-label>
  
        <input
          name="disabledDuration"
          matInput
          ngxDuration
          placeholder="{{ 'Duration' }}"
          [(ngModel)]="disabledDuration"
          required
          disabled
        />
      </mat-form-field>
  </form>


</div>