<div class="outer">


  <form #form="ngForm">
    <mat-form-field class="field" color="accent" appearance="outline">
      <mat-label>Duration</mat-label>

      <input
        name="duration"
        matInput
        ngxDuration
        placeholder="{{ 'Duration' }}"
        [(ngModel)]="duration"
        required
      />

      <mat-error *ngIf="form.controls['duration']?.errors; let errors" [ngSwitch]="(errors | keyvalue)[0].key">
        <span *ngSwitchCase="'required'">{{ 'Duration value is required' }}</span>
        <span *ngSwitchCase="'pattern'">{{ 'Invalid duration format' }}</span>
      </mat-error>
    </mat-form-field>
    
    <div>
      NgModel value: {{duration}}
    </div>

    <!-- <div>
      <div *ngFor="let h of handled">
        "{{h}}"
      </div>
    </div> -->

    <mat-form-field class="field pt" color="accent" appearance="outline">
        <mat-label>Duration</mat-label>
  
        <input
          name="disabledDuration"
          matInput
          ngxDuration
          placeholder="{{ 'Duration' }}"
          [(ngModel)]="disabledDuration"
          required
          disabled
        />
  
        <mat-error *ngIf="form.controls['disabledDuration']?.errors; let errors" [ngSwitch]="(errors | keyvalue)[0].key">
          <span *ngSwitchCase="'required'">{{ 'Duration value is required' }}</span>
          <span *ngSwitchCase="'pattern'">{{ 'Invalid duration format' }}</span>
        </mat-error>
      </mat-form-field>
  </form>


</div>